$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "../bower_components/spinkit/scss/spinners/2-double-bounce";

.clickable {
  cursor: pointer;
}

.show {
  display: inline-block;
  margin: 10px;
  float: left;
  width: 134px;
  font-size: 0.8em;

  .poster-placeholder {
    background-image: url("../images/posterholder.png");
    background-position: center center;
    background-repeat: no-repeat;
  }

  .poster {
    background-color: rgba(0, 0, 0, 0.05);
    background-size: 134px 196px;
    width: 134px;
    height: 196px;
    border-radius: 4px;
    cursor: pointer;
  }

  .title {
    height: auto;
    margin: 6px 0 4px;;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-bottom: 2px;
  }

  .year {
    font-size: 0.85em;
    display: inline;
  }

  .status {
    font-size: 0.85em;
    display: inline;
    float: right;
  }
}

.episode {
  &.unaired a {
    color: maroon;
  }
}
