<div class="row">
  <input type="text" ng-model="searchTerm" class="col-md-4">
  <button ng-click="searchShow()">Search</button>
  <button ng-click="clear()">Clear</button>
</div>
<div class="row">

    <div class="show" ng-repeat="show in shows">
      <div class="poster-placeholder" ng-click="gotoShow(show.id)">
        <div class="spinner">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
        </div>
        <div class="poster" ng-style="{backgroundImage: 'url('+(show.image_poster_thumb?show.image_poster_thumb:'none')+')'}"></div>
      </div>
      <div class="title">{{show.title}}</div>
      <div class="year">{{show.year}}</div>
      <div class="library">{{show.library_episodes}} in library</div>
      <div class="favorite">
        <span ng-hide="show.favorite" ng-click="show.$favorite()">Add to favorites</span>
        <span ng-show="show.favorite" ng-click="show.$unfavorite()">Remove from favorites</span>
      </div>
      <div class="library">
        <span ng-hide="show.library" ng-click="show.$library()">Add to library</span>
        <span ng-show="show.library" ng-click="show.$unlibrary()">Remove from library</span>
      </div>
    </div>

</div>
